# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/TheStory/v16/.suo
*.db
*.ipch
*.ipch
*.ipch
*.ipch
*.ipch
*.enc
*.log
*.ilk
*.log
*.pdb
*.tlog
*.idb
*.pdb
.vs/TheStory/v16/.suo
*.db
*.ipch
*.ipch
*.ipch
*.ilk
*.log
*.pdb
*.tlog
*.tlog
*.tlog
*.idb
*.pdb
.vs/TheStory/v16/ipch/AutoPCH/5261f3b250b39aad/CHANDLEINPUT.ipch
.vs/TheStory/v16/ipch/AutoPCH/9acca145ce0fcb45/CGAMEDATA.ipch
.vs/TheStory/v16/ipch/AutoPCH/c6c8db0574e0c1d0/CGAMESTATE.ipch
*.lastbuildstate
*.tlog
*.opendb
*.db-wal
*.db
*.db-shm
.vs/TheStory/v16/.suo
*.ipch
*.ilk
*.log
*.pdb
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.idb
*.pdb
